<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <!-- TODO show.jsp is badly named, it redirects the user -->

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/show.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/loginsuccess</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/loginfailure</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/logoutsuccess</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.facelets.SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CLIENT_WINDOW_MODE</param-name>
        <param-value>url</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.validator.ENABLE_VALIDATE_WHOLE_BEAN</param-name>
        <param-value>true</param-value>
    </context-param>
                                                                               
    <context-param>
        <param-name>AUTH0_CALLBACK_URL</param-name>
        <param-value>https://localhost:8443/auth0callback</param-value>
    </context-param>
    <context-param>
        <param-name>AUTH0_AUDIENCE</param-name>
        <param-value>http://localhost:8080/firstcup/hospital/rest</param-value>
    </context-param>
    <context-param>
        <param-name>AUTH0_NAMESPACE</param-name>
        <param-value>https://gorticrum.com/user_authorization</param-value>
    </context-param>

    <context-param>
        <param-name>AUTH0_LOGIN_SUCCESS</param-name>
        <param-value>https://localhost:8443/loginsuccess</param-value>
    </context-param>
    <context-param>
        <param-name>AUTH0_LOGIN_FAILURE</param-name>
        <param-value>https://localhost:8443/loginfailure</param-value>
    </context-param>
    <context-param>
        <param-name>AUTH0_LOGOUT_SUCCESS</param-name>
        <param-value>https://localhost:8443/logoutsuccess</param-value>
    </context-param>

    <!-- ********** Below three are for the jwt cookie in http only -->
    <context-param>
        <param-name>AUTH0_URL</param-name>
        <param-value>https://localhosthttpstennant.eu.auth0.com/</param-value>
    </context-param>
    <context-param>
        <param-name>AUTH0_ISSUER</param-name>
        <param-value>https://localhosthttpstennant.eu.auth0.com/</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.domain</param-name>
        <param-value>localhosthttpstennant.eu.auth0.com</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.clientId</param-name>
        <param-value>flY5Acszv9EiNaJ9D6M0xcs0DWtHPBF0</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.clientSecret</param-name>
        <param-value>0gMvQhmoR7K6kcubrrHJQaGM5rjvzgOHvQ0qgjk3R0LnDtXf_VP8ZoGMsRwuhWhz</param-value>
    </context-param>

    <!-- Secure communications over TLS -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>myresources</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>

        <user-data-constraint>
             <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint> 

    <welcome-file-list>  
        <welcome-file>index.html</welcome-file>  
    </welcome-file-list>  
</web-app>
